# Credenciais
.env
profiles.yml
!.env.example
!.profiles.yml.example

# Python
venv/
.venv/
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/
dbt_modules/

# Histórico / shell
.psql_history
.bash_history

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
